.frontPage{
  text-align: center;
  display: block;
  text-align: -webkit-center;
  background: #9dd7e1;
  background: url(../img/seigaiha.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/*
* CHECKOUT
*/
.checkoutStyle {
  display: none;
  position: fixed;
    z-index: 200;
    bottom: 0px;
    right: 0px;
    color: white;
    background: black;
    opacity: .8;
    padding: 20px;
}

.checkoutStyle ul {
  list-style: none;
}

.currencyIssue {
  display: none;
  position: fixed;
  top: 0px;
  z-index: 1000;
}
/*
* checkout
*/